body {
    margin: 0;
    background: black;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.hero {
    display: grid;
    grid-template-columns: 220px 450px;
    gap: 10px;
    align-items: center;
}

.portrait {
    width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.content {
    display: grid;
    gap: 25px;
}

.title-group h1 {
    margin: 0;
    font-size: 36px;
    line-height: 1;
}

.title-group p {
    margin: 5px 0 0 0px;
    font-size: 14px;
    color: #d0d0d0;
}

.button-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80px;
}

.button-grid a {
    display: block;
    color: white;
    background: #2e2e2e;
    padding: 6px 8px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease;
}

.button-grid a:hover {
    background: #444;
}

.about {
    grid-column: 2;
}

.socials {
    display: flex;
    gap: 5px;
    align-items: center;
}

.socials a img {
    width: 28px;
    height: 28px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.socials a:hover img {
    opacity: 0.8;
}

.film-page {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.video-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 800px;
}

.video-list iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

.navbar a {
    color: white;
    text-decoration: underline;
    font-size: 14px;
}